body {
  background-color: hsl(30, 38%, 92%);
}

.container {
  width: 375px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow: hidden;
  text-align: left;
}

img {
  width: 100%;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 500;
  font-size: 35px;
}

h2 {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: lighter;
}

.textCont {
  padding: 20px;
}

.priceCont {
  padding: 20px;
}

.parrafo {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  line-height: 1.6;
}

.precio-actual {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: bold;
}

.precio-antiguo {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-decoration: line-through;
}

button {
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  width: 88%;
  margin: 20px;
  padding: 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

a{
	text-decoration: none;
}

a:hover i{
    color: white;
    transition: 0.2s;

}

a:hover span{
    color: white;
    transition: 0.2s;
}
